---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ex consequuntur porro distinctio minus a, possimus animi autem fugit accusamus quas ea esse aperiam laboriosam debitis quaerat ullam architecto adipisci voluptas dicta ad temporibus impedit earum! Necessitatibus laudantium expedita fugit quia explicabo laboriosam debitis consectetur nostrum, magnam, odio nisi. Sint aspernatur dolorem, quod accusamus ab consequuntur. Dolores quas saepe, veniam nesciunt earum eaque dolore consequuntur asperiores sapiente fuga repellat quis optio modi! Doloribus culpa quidem fugiat, rerum sapiente natus, ipsum in pariatur minima illo itaque mollitia. Deserunt rerum quisquam officia optio, deleniti, ipsa necessitatibus sed quaerat ducimus est consequuntur quos.</p>
</Layout>